[gerrit]
        basePath = git
        canonicalWebUrl = http://0.0.0.0:7070/
[database]
        type = h2
        database = db/ReviewDB
[auth]
        type = LDAP
        server = ldap://ldap.shuzijiayuan.com
        username = liupeng
        accountBase = cn=liupeng,dc=qinjian,dc=com
        groupBase = cn=admin,dc=qinjian,dc=com


[ldap]
  server = ldap://ldap.x.x.com
  accountBase = ou=Users,ou=product,dc=qinjian,dc=com
  accountPattern = (&(objectClass=person)(uid=${username}))
  accountFullName = displayName
  accountEmailAddress = mail

  groupBase = ou=UserGroups,ou=product,dc=qinjian,dc=com
  groupMemberPattern = (&(objectClass=group)(member=${dn}))
[sendemail]
        smtpServer = qiye.163.com
        smtpUser = liupeng@shuzijiayuan.com
[plugins]                                    
        allowRemoteAdmin = true
[container]
        user = gerrit
        javaHome = /usr/lib/jvm/java-1.8.0-openjdk-1.8.0.101-3.b13.el6_8.x86_64/jre
[sshd]
        listenAddress = *:29418
[httpd]
        listenUrl = http://0.0.0.0:7070/
[cache]
        directory = cache
[index]
        type = LUCENE
[receive]
        enableSignedPush = false
